extends layout

block content
  .container.mt-4
    h2.text-center.mb-4 🎾 Classificação

    //- 1. Abas de Classes (Navegação)
    ul.nav.nav-pills.justify-content-center.mb-4#classTabs(role="tablist")
      each cls, index in Object.keys(tournamentData).sort()
        li.nav-item
          button.nav-link(class=index === 0 ? 'active' : '' id=`tab-${cls}` data-bs-toggle="pill" data-bs-target=`#content-${cls}`) Classe #{cls}

    //- 2. Conteúdo das Abas
    .tab-content
      each cls, index in Object.keys(tournamentData).sort()
        .tab-pane.fade(class=index === 0 ? 'show active' : '' id=`content-${cls}`)
          .row
            //- 3. Grupos dentro da Classe
            each groupNum in Object.keys(tournamentData[cls]).sort()
              .col-lg-6.mb-4
                .card.shadow-sm
                  .card-header.bg-tennis.text-white.d-flex.justify-content-between
                    h5.mb-0 Grupo #{groupNum}
                    small Classe #{cls}
                  .card-body.p-0
                    .table-responsive
                      table.table.table-sm.table-hover.mb-0
                        thead.table-light
                          tr
                            th.text-center #
                            th Tenista
                            th.text-center Pts
                            th.text-center V
                            th.text-center D
                            th.text-center S
                            th.text-center G
                        tbody
                          - const athletes = Object.values(tournamentData[cls][groupNum]).sort((a,b) => b.points - a.points)
                          each athlete, idx in athletes
                            tr(class=idx < 2 ? 'table-success' : '')
                              td.text-center= (idx + 1) + "º"
                              td.fw-bold= athlete.name
                              td.text-center.table-primary= athlete.points
                              td.text-center= athlete.wins
                              td.text-center= athlete.losses
                              td.text-center= (athlete.setsWon - athlete.setsLost)
                              td.text-center= (athlete.gFavor - athlete.gAgainst)

    script(src="/javascripts/bootstrap.bundle.min.js")
